@model TiendaFamiliarMVC.Models.Ventas

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar - Venta</h1>

<h3>¿Está seguro de querer eliminar esta venta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" style="background-color: dodgerblue; border:none" class="btn btn-primary">Cancelar</a>
    </form>
</div>
