@model IEnumerable<TiendaFamiliarMVC.Models.Ventas>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Ventas  <a asp-action="Create" class="btn btn-success bg-light">➕</a></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm">✏️</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info btn-sm">🔍</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">🗑️</a>
            </td>
        </tr>
}
    </tbody>
</table>
